
body{
	margin: 0;
}

nav{
	position: relative;
	width: 100%;
	height: 50px;
	top: 0;
	text-align: center;
	background-color: #62BB98;

}

header{
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 700px;
	color: black;
	background-color: pink;
	text-align: center;
}



header a:link:fist-child:link {
	color: #fff;
	text-decoration: none;
}

header a:fist-child:visited {
	color: #fff;
	text-decoration: none;
}

header a:first-child img{

	width: 350px;
	height: 350px;
	margin-top: 25px;
	text-align: center;
}



