/* Mobil */

@media only screen and (max-width: 480px) and (orientation: portrait)

	{
		body { 
			background-color: pink;
			}
		p {
			font-family: Helvetica;
			}
	}
	@media only screen and (max-width: 480px) and (orientation: landscape)

	{
		body { 
			background-color: pink;
			}
		p {
			font-family: Arial, Monospace;
			}
	}


∫

/* PC */
@media only screen and (min-width: 480px) and (orientation: portrait)

	{
		body { 
			background-color: lightblue;
			}

		p {
				font-family: Verdana, Times;
			}
	}

	@media only screen and (min-width: 480px) and (orientation: landscape)

	{
		body { 
			background-color: lightblue;
			}

		p {
				font-family: Courier, Georgia;
			}
	}